<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <title>{% block title  %} {% endblock %}</title>
      <style>

      .custom-navbar{

            background-color:#18A4A5  ;
            padding:20px;
      }
      .custom-search{

            border-radius:20px;
            height:30px;
      }
    .pink-lighter-hover {
  color: #ec407a;
  -webkit-transition: .4s;
  transition: .4s; }
  .amber-darker-hover {
  color: #ffa000;
  -webkit-transition: .4s;
  transition: .4s; }
  .white-lighter-hover {
  color: #fff;
  -webkit-transition: .4s;
  transition: .4s; }
              {% block css %} {% endblock %}
      </style>
      </head>
      <body>

    <nav class="navbar navbar-expand-lg navbar-dark custom-navbar">
  <a class="navbar-brand" href="#">Lea&#8377;n</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
<!--      <li class="nav-item active">-->
<!--        <a class="nav-link" href="/platform/">Homepage<span class="sr-only">(current)</span></a>-->
<!--      </li>-->
      <li class="nav-item active">
          <a class="btn white-lighter-hover" href="/platform"><strong>All Courses</strong></a>
      </li>
    <li class="nav-item active">
          <a class="btn white-lighter-hover" href="/platform/profilepage"><strong>profile</strong></a>
      </li>
        <li class="nav-item active">
          <a class="btn white-lighter-hover" href="#"><strong>My Courses</strong></a>
      </li>
    </ul>

<!--      Search functionality-->
<!--      <div class="container">-->
<!--          <form class="form-inline my-2 my-lg-0">-->
<!--      <input class="form-control mr-sm-2 custom-search" type="search" placeholder="Search" aria-label="Search">-->
<!--      <button class="  btn btn-dark my-2 my-sm-0" type="submit">Search</button>-->
<!--    </form>-->

<!--      </div>-->
      {% if user.is_authenticated %}
      <p> {{user.get_username}}</p>
      {% endif %}
      {% if user.is_authenticated %}
      <a class="btn btn-success my-2 ml-2 my-sm-0" href="/platform/profilepage/">Profile</a>
      <a class="btn btn-success my-2 ml-2 my-sm-0" href="/platform/logout/">Logout</a>
      {% endif %}

  </div>
</nav>



{% block body %}

 {% endblock %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script>


    </script>
    {% block js %}
    {% endblock %}

  </body>
</html>