{% extends 'platform/base.html' %}
{% block css %}

.profile-img {
width: 150px;
height: 150px;
border-radius: 50%;
background-position:center;

    display: block;
    margin: 0 auto;

background-size: cover;
}
.profile-bk{
        background-color:#101C29 ;
height:450px;
width:100%;
        }
.text-light{
color:#B8CCE2;
}
{% endblock %}
{% block body %}

    <div class="jumbotron profile-bk ">
 <img class="profile-img" src="{{profile.profile_pic.url}}"></img>
  <p class="lead text-center text-light"> {{profile.firstname}} {{profile.lastname}}</p>
  <hr class="my-4 ">
  <p class="text-center text-light"><i class="fas fa-tags"></i> {{profile.bio}}</p>
        <p class="text-center text-muted"><i><i class="fas fa-map-pin"></i> From {{profile.city}} , {{profile.country}}</i></p>
  <p class="lead">
      <a class="btn btn-warning btn-sm " style="float:right" href="/platform/editprofile" role="button"><i class="fas fa-pen"></i> Edit Profile</a>
  </p>
</div>




{% endblock %}